@import '~assets/partial';

.tokenMintView {
  width: 49%;
  margin-top: 30px;
  margin-right: 2%;
  .textInput {
    margin-bottom: 10px;
  }
  .mintButton {
    margin: 20px 0px 0px auto;
    cursor: pointer;
  }
}
