@import '~common/asset/partial';

.mintTransferToggleView {
  width: 49%;
  .toggleBtn {
    margin-bottom: 15px;
  }
  .textInput {
    margin-bottom: 10px;
  }
  .sendBtn {
    float: right;
    margin: 20px 0px 0px auto;
    cursor: pointer;
  }
}
