@import '~assets/partial';

.tokenHolderView {
  display: inline-block;
  width: 66%;
  margin-right: 2%;
  margin-top: 30px;
  table {
    width: 100%;
    th {
      border-top: 1px solid $rayon-gray;
      border-bottom: 1px solid $rayon-gray;
      background-color: $rayon-lightgray;
    }
    td {
      border-bottom: 1px solid $rayon-lightgray;
    }
    th,
    td {
      padding: 8px;
      text-align: left;
      font-size: 14px;
    }
  }
}
