.tokenHolderHistoryView {
  width: 100%;
  margin-top: 30px;
  @include clearfix();
  .topTitleBar {
    .title {
      display: inline-block;
      @include set-font(24px, black, $fontweight-bold);
    }
    .searchBar {
      float: right;
      margin-bottom: 20px;
    }
  }

  .noTokenHistory {
    width: 100%;
    padding: 30px;
    text-align: center;
    background: white;
    p {
      font-size: 36px;
    }
  }
  table {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    th {
      //   border-top: 1px solid $rayon-gray;
      //   border-bottom: 1px solid $rayon-gray;
      background-color: $rayon-lake;
      color: white;
    }
    td {
    //   border-bottom: 1px solid $rayon-lightgray;
      background: white;
    }
    th,
    td {
      padding: 8px;
      text-align: left;
      font-size: 14px;
    }
  }
}
