.tokenHolderView {
  display: flex;
  width: 100%;
  margin-top: 30px;
  .topTitleBar {
    .title {
      display: inline-block;
      @include set-font(24px, black, $fontweight-bold);
    }
    .searchBar {
      float: right;
      margin-bottom: 20px;
    }
  }
  .topHolderTable {
    flex: 7;
    padding: 0px 30px;
    overflow: scroll;
    height: 330px;
    table {
      width: 100%;
      th {
        border-top: 1px solid $rayon-gray;
        border-bottom: 1px solid $rayon-gray;
        background-color: $rayon-lightgray;
      }
      td {
        border-bottom: 1px solid $rayon-lightgray;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        font-size: 14px;
      }
      tr {
        cursor: pointer;
      }
    }
  }
  .topHolderGraph {
    flex: 3;
    border-right: 2px solid $rayon-lightgray;
  }
  .tokenHolderResult {
    display: flex;
    width: 100%;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
  }
}
