@import '~common/asset/partial';

.totalTokenView {
  width: 48%;
  margin-right: 2%;
  .subTitle {
    @include rayon-admin-subtitle();
  }
  .totalTokenSection {
    .totalToken {
      text-align: right;
      font-size: 48px;
    }
  }
  .extraMintedTokenSection {
    border-top: 1px solid $rayon-gray;
    margin-top: 10px;
    padding-top: 10px;
    .extraMintedToken {
      text-align: right;
      font-size: 24px;
    }
  }
  .detailBtn {
    margin: 28px 0px 0px auto;
    cursor: pointer;
  }
}
