.totalTokenView {
  width: 30%;
  background-image: linear-gradient(90deg, #2575fc 0%, #009efd 100%);
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  .subTitle {
    @include rayon-admin-subtitle();
    color: white;
  }
  .totalTokenSection {
    .totalToken {
      text-align: right;
      font-size: 48px;
      color: white;
    }
  }
  .extraMintedTokenSection {
    border-top: 1px solid $rayon-gray;
    margin-top: 10px;
    padding-top: 10px;
    .extraMintedToken {
      text-align: right;
      font-size: 24px;
      color: white;
    }
  }
  .detailBtn {
    margin: 28px 0px 0px auto;
    cursor: pointer;
  }
}
