.container {
  margin: 0 auto;
  max-width: 1200px;
  // min-width: 1200px;
  padding: 18px 20px;
  &.noTopPadding {
    padding-top: 0px;
  }
  &.noHorizontalPadding {
    padding-right: 0px;
    padding-left: 0px;
  }
}
