.onlyAdminView {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 100px auto;
  padding: 50px 20px;
  text-align: center;
  border: 4px solid $rayon-lake;
  border-radius: 10px;

  .image {
    img {
      width: 100px;
    }
  }
  .caution {
    margin-bottom: 20px;
    font-size: 36px;
    color: $rayon-lake;
  }
}
