.borrowerAppDetail {
  width: 100%;

  .sectionTitle {
    margin-top: 0px;
  }
}

.borrowerAppSubSection{
  li {
    display: flex;
    flex-direction: row;

    h4:after {
      content: ':';
      margin-left: 10px;
      margin-right: 10px;
      font-weight: normal;
    }
  }
  li + li {
    margin-top: 10px;
  }
}