@import '~common/asset/partial';

.borderTextInput {
  .title {
    margin-bottom: 5px;
    @include set-font(12px, $rayon-gray);
  }
  input {
    width: 100%;
    padding: 8px 15px;
    text-align: right;
    border: 1px solid $rayon-lake;
    border-radius: 4px;
    transition: border ease 0.1s;
    @include set-font(16px, $rayon-black);
  }
  &.lender {
    input {
      border: 1px solid $rayon-berry;
    }
  }
}
