.contractCombobox {
  display: flex;
  align-items: flex-end;
  .combobox {
    position: relative;
    select {
      padding: 6px 15px;
      margin-right: 15px;
      border: none;
      font-size: 16px;
      color: #0084dd;
      cursor: pointer;
    }
    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      right: 10px;
      top: 50%;
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: #0084dd transparent;
    }
  }
}
