.contractLogView {
  margin-top: 100px;
  .logTitleSection {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 36px;
      padding-bottom: 10px;
    }
    .tabs {
      display: flex;
      align-items: flex-end;
      .tab {
        padding: 8px 15px;
        font-size: 24px;
      }
    }
  }
  table {
    width: 100%;
    thead {
      border: 1px solid $rayon-gray;
      border-radius: 8px;
      th {
        text-align: left;
        padding: 10px 15px;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $rayon-lightgray;
        &:hover {
          background: #f8fcff;
        }
        td {
          padding: 10px 15px;
          z-index: 2;
        }
      }
    }
  }
}
