.networkStatusBarOuter {
  background-color: $nav-pink;
  .networkStatusBarInner {
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    text-align: right;
  }
}
.pageTitleOuter {
  margin-bottom: 80px;
  background-color: $nav-black;
  .pageTitleInner {
    .pageTitle {
      margin-top: 40px;
      letter-spacing: 5px;
      @include set-font(48px, white, $fontweight-thin);
    }
  }
  .barUnderLine {
    height: 3px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 140% 140%;
    animation: moveBackgroundImage 5s ease infinite;
  }
}

.navOuter {
  background-color: $nav-black;

  .navInner {
    display: flex;
    justify-content: space-between;

    .navLeftSide {
      display: flex;

      a {
        display: flex;
        align-items: center;
        margin-right: 70px;
        @include set-font(18px, $nav-gray, $fontweight-thin);
        // 태그 disable 상태, 제거해야함
        // pointer-events: none;
        &.selMenu {
          color: white;
        }
        &:hover {
          color: white;
        }
        img {
          width: 120px;
          padding-top: 8px;
        }
      }
    }

    .navRightSide {
      display: flex;
      align-items: center;
      .identicon {
        display: flex;
        align-items: center;
        margin-right: 10px;
        canvas {
          border-radius: 16px;
        }
      }
      .emptyBlockies {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: white;
      }
      .userAddr {
        @include set-font(16px, white);
      }
    }
  }
}
